.favorites {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.animalImg {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}